.comments {
    font-family: 'Source Sans Pro', 'Noto Sans SC', 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans JP', sans-serif;
}

.cmt {
    font-size: 30px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
}

.user-name {
    white-space: nowrap;
}

.user-comment {
    width: auto;
    overflow-wrap: anywhere;
    white-space: normal;
}

.name-color {
    color: #ddd
}

.text-color {
    color: #fff
}